{% extends "bank/base.html" %}
{% load url from future %}

{% block title %}Registration of the new client{% endblock %}
{% block content %}
    <br />
    <h1>Registration</h1>
    <br />
    {% if form.errors %}
    <p class="alert-error">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
    {% endif %} 
    <form class="form-inline" action="" method="post">
        <table>
            {{form.as_table}}
            {% csrf_token %}
        </table>
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="Check in" />
            <a class="btn" type="reset" href='{% url 'index' %}'>Cancelar </a>
        </div>
    </form>
{% endblock %}