.W120 {
    width: 120px !important;
}

.W100 {
    width: 100px !important;
}

.W90 {
    width: 90px !important;
}

.W30 {
    width: 30px !important;
}

.W10 {
    width: 10px !important;
}

.expense{
    color:#b94a48;
}

.deposit{
    color: #468847;
}
