{% extends "bank/base.html" %}
{% block title %}Add note{% endblock %}
{% block content %}
    <h1>New note</h1>
    {% if form.errors %}
    <p class="alert-error">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
    {% endif %} 
    <form class="form-horizontal" action="" method="post">
        <table>
            {{form.as_table}}
            {% csrf_token %}
        </table>
        <div class="form-actions span2">
            <input class="btn btn-primary" type="submit" value="Add" />
            <input class="btn" type="reset" value="Cancelar" />
        </div>
    </form>
{% endblock %}