{% extends "bank/base.html" %}
{% block title %}Add note{% endblock %}
{% block content %}
<h1>New note</h1>
{% if form.errors %}
<p class="alert-error">
    Please correct the error{{ form.errors|pluralize }} below.
</p>
{% endif %}
<form ction="" method="post" class="form-horizontal">
	<fieldset>
		<div class="control-group">
			<label class="control-label">{{ form.amount.label }}:</label>
			<div class="controls">
				{{ form.amount }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">{{ form.timestamp.label }}:</label>
			<div class="controls">
				{{ form.timestamp }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">{{ form.description.label }}:</label>
			<div class="controls">
				{{ form.description }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">{{ form.category.label }}:</label>
			<div class="controls">
				{{ form.category }}
				<a class="btn" href="{% url category-add %}">+</a>
			</div>			
		</div>
		<div class="control-group">
			<label class="control-label">{{ form.account.label }}:</label>
			<div class="controls">
				{{ form.account }}
			</div>
		</div>
		<div class="form-actions">
			<input class="btn btn-primary" type="submit" value="Add" />
			<a class="btn" href="{% url account account_id %}">Cancelar</a>
		</div>
	</fieldset>	
    {% csrf_token %}
</form>
{% endblock %}